// .parent {
//     display: grid;
//     grid-template-columns: repeat(3, 1fr);
//     grid-column-gap: 20px;
//     grid-row-gap: 20px;
// }

// .li {
//     border-radius: 20px;
//     overflow: hidden;
//     width: 100%;
//     height: 140px;
//     position: relative;
// }

// .image {
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
// }
//---------------------------
.parent {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 200px);
    grid-auto-rows: 140px;
}
.li:nth-child(10n + 1) {
    grid-column: auto / span 1;
    grid-row: auto / span 2;
}
.li:nth-child(10n + 4) {
    grid-column: auto / span 2;
    grid-row: auto / span 2;
}
.li:nth-child(10n + 8) {
    grid-column: auto / span 1;
    grid-row: auto / span 2;
}
.li:nth-child(10n + 9) {
    grid-column: auto / span 2;
    grid-row: auto / span 2;
}

.li {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

//----------------------------

.li:hover .boxWrapFav {
    bottom: 0;
}

.boxWrapFav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    bottom: -100%;
    background: rgba(255, 134, 142, 0.6);
    position: absolute;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.boxFav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #ffffff;
    border-radius: 10px;
    cursor: pointer;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.li:hover .boxWrapBreed {
    bottom: 0;
}

.boxWrapBreed {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    bottom: -100%;
    position: absolute;
    padding: 10px;
    background: rgba(255, 134, 142, 0.6);
    cursor: pointer;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.boxBreed {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 34px;
    background: #ffffff;
    border-radius: 20px;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.boxBreedTitle {
    font-size: 16px;
    line-height: 1.5;
    color: #ff868e;
}
