@import '../sass/variables';

.main {
    position: relative;
    width: 100%;
    min-height: 100%;
    border-radius: 20px;
    background-color: $secondary-color;
}

.img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 775px;
    height: 900px;
}
